@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,600;1,600&display=swap');

.skill_container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 200px 0;
}

.skillcontent_text {
    color: white;
    flex: 0.6;
    text-align: left;
    max-width: 500px;
    margin-bottom: 20px;
}

.skillcontent_text > h2 {
    font-size: 30px;
    font-family: "Roboto", serif;
    margin-bottom: 20px;
    color:  rgb(112, 112, 243);
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: white;
    text-underline-position: under;
    padding-bottom: 5px;
}

.skillcontent__img {
    flex: 0.4;
    text-align: center;
    margin-right: 100px;
    margin-top: 50px;
}

.skillcontent__img > img {
    width: 600px;
    border-radius: 5px;
    object-fit: contain;
}

.skillcontent_set > h5 {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    padding-bottom: 20px;
    padding-top: 10px;
}

.skillcontent_slider > .css-1txyin7-MuiLinearProgress-root {
    background-color: rgb(85, 85, 85);
}

.skillcontent_slider1 > span > .MuiLinearProgress-bar  {
    background-color: #4F46E5;
}

.skillcontent_slider2 > span > .MuiLinearProgress-bar {
    background-color: #6366F1;
}

.skillcontent_slider3 > span > .MuiLinearProgress-bar {
    background-color: #818CF8;
}

.skillcontent_slider4 > span > .MuiLinearProgress-bar {
    background-color: #7C3AED;
}

.skillcontent_slider5 > span > .MuiLinearProgress-bar {
    background-color: tomato;
}

.skillcontent_slider6 > span > .MuiLinearProgress-bar {
    background-color: tomato;
}

.skillcontent_slider7 > span > .MuiLinearProgress-bar {
    background-color: #8B5CF6;
}

.skillcontent_slider8 > span > .MuiLinearProgress-bar {
    background-color: #10B981;
}
